.card-title {
	/* display: inline-flex; */
	font-size: 190%;
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/* margin-bottom: 0; */
}
.card-attack {
	height: 20%;
	width: 100%;
	margin-top: 4%;
	border-radius: 4px;
	background-color: lightsalmon;
	/* color: green imp !important; */
	text-align: center;
	font-size: 110%;

	vertical-align: middle !important;
	border-width: 10px;
	border-color: black;
	box-shadow: 0 0 3px 4px black;
}

.attack-points {
	font-size: 400%;
	padding-right: 0;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.col {
	padding-left: 0 !important;
	padding-right: 0 !important;
	/* padding-bottom: 10px !important; */
}

.attack-name {
	font-size: 110% !important;
	font-weight: bold;
	position: relative;
	font-family: Times, 'Times New Roman', serif;
	padding-top: 15px !important;
	padding-right: 190px !important;
}

.w3-container {
	height: 100%;
	font-size: 12px;
	padding-top: 1px;
	padding-bottom: 1px;
	/* height: 10px !important; */
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 1em;
	line-height: 1.6;
	color: white;
	background-color: black !important;
	background-image: url('./assets/background.png');
	background-size: 100%;
	object-fit: fill;
	background-position: center;
	background-repeat: no-repeat;
	opacity: .97;
}

h5, h6 {
	color: white !important;
}

h1 {
	font-weight: 700;
	font-size: 200% !important;
	letter-spacing: .15em;
	text-transform: uppercase;
	margin-bottom: .5em;
	/* color: white !important; */
	border-radius: 5%;
	background-color: cadetblue;
	padding: 10px 0 !important;
	border-style: dashed;
	border-width: medium;
}

.container {
	width: 80%;
	display: block;
	margin: 100px auto;
	text-align: center;
}

.pokeball {
	display: inline-block;
	margin: 20px;
	width: 100px;
	height: 100px;
	background: red;
	border-radius: 50%;
	box-shadow: 0 0 0 3px black, 0 -69px 0 -32px white inset, 0 -70px 0 -30px black inset;
	transition: .4s;
	position: relative;
	transform-origin: bottom center;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.pokeball:before {
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
	top: 50px;
	left: 40px;
	border: 1px solid rgba(0, 0, 0, .4);
	box-shadow: 2px 0 0 0 rgba(0, 0, 0, .2), 0 0 0 3px white, 0 0 0 5px black;
}

.pokeball:after {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	display: block;
	/* background: yellow; */
	position: absolute;
	left: 0;
	box-shadow: -7px 0 5px 0 rgba(0, 0, 0, 0.4) inset;
}

.pokeball:hover {
	cursor: pointer;
	animation: anti-wiggle 1s ease-in-out;
	-webkit-animation: anti-wiggle 1s ease-in-out;
}

.pokeball:hover:after {
	animation: wiggle 1s ease-in-out;
	-webkit-animation: wiggle 1s ease-in-out;
}

.pokeball:focus, .pokeball:active {
	outline: 0;
}

@-webkit-keyframes wiggle {
	20% {
		box-shadow: inset -5px 0 5px 0 rgba(0, 0, 0, 0.4);
		transform: rotate(7deg);
	}
	40% {
		box-shadow: inset -11px 0 5px 0 rgba(0, 0, 0, 0.4);
		transform: rotate(-14deg);
	}
	60% {
		box-shadow: inset -5px 0 5px 0 rgba(0, 0, 0, 0.4);
		transform: rotate(4deg);
	}
	80% {
		box-shadow: inset -8px 0 5px 0 rgba(0, 0, 0, 0.4);
		transform: rotate(-2deg);
	}
	100% {
		box-shadow: inset -7px 0 5px 0 rgba(0, 0, 0, 0.4);
		transform: rotate(0deg);
	}
}

@keyframes wiggle {
	20% {
		box-shadow: inset -5px 0 5px 0 rgba(0, 0, 0, 0.4);
		transform: rotate(7deg);
	}
	40% {
		box-shadow: inset -11px 0 5px 0 rgba(0, 0, 0, 0.4);
		transform: rotate(-14deg);
	}
	60% {
		box-shadow: inset -5px 0 5px 0 rgba(0, 0, 0, 0.4);
		transform: rotate(4deg);
	}
	80% {
		box-shadow: inset -8px 0 5px 0 rgba(0, 0, 0, 0.4);
		transform: rotate(-2deg);
	}
	100% {
		box-shadow: inset -7px 0 5px 0 rgba(0, 0, 0, 0.4);
		transform: rotate(0deg);
	}
}

@-webkit-keyframes anti-wiggle {
	20% {
		transform: translateX(4px) rotate(-7deg);
	}
	40% {
		transform: translateX(-8px) rotate(14deg);
	}
	60% {
		transform: translateX(2px) rotate(-4deg);
	}
	80% {
		transform: translateX(-1px) rotate(2deg);
	}
	100% {
		transform: translateX(0px) rotate(0deg);
	}
}

@keyframes anti-wiggle {
	20% {
		transform: translateX(4px) rotate(-7deg);
	}
	40% {
		transform: translateX(-8px) rotate(14deg);
	}
	60% {
		transform: translateX(2px) rotate(-4deg);
	}
	80% {
		transform: translateX(-1px) rotate(2deg);
	}
	100% {
		transform: translateX(0px) rotate(0deg);
	}
}